# Autoevaluare 1

ex. 1

In [ ]:
name = 'Marta Elisa'
age = 28

ex. 2

In [ ]:
rate = 1.68
value = 3480
payment = rate * value

ex. 3

In [ ]:
rate = 1.68
value_day = 500
value_night = 400
payment = rate * value_day + (rate / 2) * value_night

ex. 4

In [ ]:
rate = 1.68
value_day = 358
value_night = 103
payment = rate * value_day + rate / 2 * value_night

ex. 5

In [ ]:
first_name = 'Marta Elisa'
last_name = 'Hura Toth'

ex. 6

In [ ]:
first_name = 'Marta Elisa'
last_name = 'Hura Toth'
full_name = first_name + ' ' + last_name

ex. 7

In [ ]:
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name
message = f"Dear {first_name}, we inform you that you have purchased a ticket to travel to the island of Mauritius. Departure June 31 of this year. Have a passport at {full_name}. We are looking forward to seeing you!"

ex. 8

In [ ]:
is_active = True
is_delete = False

ex. 9

In [ ]:
name = input("Your name? ")
email = input('Your email? ')
age = int(input('Your age? '))
height = float(input('Your height in meters? '))
is_active = bool(input('Do you want notifications? '))

ex. 10

In [ ]:
is_next = None
num = int(input("Enter the number of points: "))
if num >= 83:
    result = is_next = True
else:
    result = is_next = False
print(result)

ex. 11

In [ ]:
work_experience = int(input("Enter your full work experience in years: "))

if work_experience <=1:
    developer_type = "Junior"
elif work_experience <=5:
    developer_type = "Middle"
else:
    developer_type = "Senior"